.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: rgb(150, 230, 212) ; */
    /* padding: 10px; */
    overflow: scroll;
}

.grid-item {
    /* background-color : rgb(153, 165, 233) ; */
    /* padding: 20px; */
    /* grid-gap: 40px; */
    text-align: center;
    /* min-height: 150px; */
  
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 2px solid black; */
  
}
